<div class="row" style="margin-top: 6%;margin-left: 9%;">

    <div class="column" >
        <mat-card class="viewRegistration">
            <mat-card-header>
                <mat-card-title>View Registration</mat-card-title>
                <mat-card-subtitle>View all the courses that are registered by you</mat-card-subtitle>
            </mat-card-header>
            <img style="height: 270px;" src="../../assets/Register-Courses.jpg">
            <mat-card-actions>
                <button (click)="onShow('viewRegistration')"  class="btn btn-primary">View Details</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="column" >
        <mat-card class="viewRegistration">
            <mat-card-header>
                <mat-card-title>Register Courses</mat-card-title>
                <mat-card-subtitle>Register for the courses</mat-card-subtitle>
            </mat-card-header>
            <img  src="../../assets/View-Registration.jpg">
            <mat-card-actions>
                <button (click)="onShow('Register')"  class="btn btn-primary">View Details</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="column" >
        <mat-card class="viewRegistration">
            <mat-card-header>
                <mat-card-title>View Courses</mat-card-title>
                <mat-card-subtitle>View all the courses available</mat-card-subtitle>
            </mat-card-header>
            <img src="../../assets/View-Courses.jpg">
            <mat-card-actions>
                <button (click)="onShow('viewCourses')" class="btn btn-primary">View Details</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>