<div class="Filter" style="    margin-left: 3%;margin-top: 2%;">
    <h4>Select Term</h4>
    <mat-form-field appearance="fill">
        <mat-label>Terms</mat-label>
        <mat-select (selectionChange)="OptionSelect()" [(ngModel)]="termSelected">
            <mat-option *ngFor="let term of terms" [value]="term">
                {{term}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div style="    margin-left: 3%;margin-top: 2%;">
    <mat-card class="viewRegistration" style="width: 90%;">
        <mat-card-header>
            <mat-card-title>View Course</mat-card-title>
        </mat-card-header>
        <div *ngIf="courseAdded" class="alert alert-success">
            {{courseName}} Course added successfully
        </div>
        <mat-card-content>
            <table>
                <tr>
                    <th>Course Name</th>
                    <th>Term</th>
                    <th>Professor</th>
                    <th>Timing</th>
                    <th>Course Credit</th>
                    <th>Maximum Seats allowed</th>
                    <th>Seats Left</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let courseInfo of courseList">
                    <td>{{courseInfo.Course_Name}}</td>
                    <td>{{termSelected}}</td>
                    <td>{{courseInfo.Professor}}</td>
                    <td>{{courseInfo.Timing}}</td>
                    <td>{{courseInfo.Course_Credit}}</td>
                    <td>{{courseInfo.Max_Seat_Allowed}}</td>
                    <td>{{courseInfo.Seat_left}}</td>
                    <td  *ngIf="courseInfo.Seat_left>'0'"><button (click)="addCourse(courseInfo)" class="btn btn-primary">Add Course</button>
                    </td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>

